ws-addressing-client/resources/Sample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="BSGLifecycleServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://poc.kaustuv.com/ws/service/greetings"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://poc.kaustuv.com/ws/service/greetings">
    <wsp:Policy wsu:Id="RM" xmlns:wsp="http://www.w3.org/2006/07/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsam:Addressing xmlns:wsam="http://www.w3.org/2007/02/addressing/metadata">
            <wsp:Policy />
        </wsam:Addressing>
        <wsrmp:RMAssertion xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
            <wsrmp:BaseRetransmissionInterval Milliseconds="10000" />
        </wsrmp:RMAssertion>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://poc.kaustuv.com/ws/service/greetings">
            <xsd:element name="GreetingsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GreetingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GreetingsReq">
        <wsdl:part element="tns:GreetingsRequest" name="parameterIn" />
    </wsdl:message>
    <wsdl:message name="GreetingsRes">
        <wsdl:part element="tns:GreetingsResponse" name="parameterOut" />
    </wsdl:message>
    <wsdl:portType name="Greetings">
        <wsdl:operation name="Greetings">
            <wsdl:input message="tns:GreetingsReq" />
            <!-- wsdl:output message="tns:GreetingsRes" /-->
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingsSOAPBinding" type="tns:Greetings">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Greetings">
            <soap:operation soapAction="Greetings" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <!-- wsdl:output>
                <soap:body use="literal" />
            </wsdl:output-->
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingsService">
        <wsdl:port name="GreetingsPort" binding="tns:GreetingsSOAPBinding">
            <soap:address location="http://www.kaustuv.com/ws/service/" />
            <wsp:PolicyReference URI="#RM" xmlns:wsp="http://www.w3.org/2006/07/ws-policy" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>